<form *ngIf="product">
  <input type="hidden" #id name="id" [value]="product.id">
  <div class="mb-3">
    <label for="name">Name</label>
    <input [value]="product.name" #name type="text" class="form-control" name="name">
  </div>
  <div class="mb-3">
    <label for="price">Price</label>
    <input [value]="product.price" #price type="number" class="form-control" name="price">
  </div>
  <div class="mb-3 form-check">
    <input [checked]="product.isActive" #isactive type="checkbox" class="form-check-input" id="isActive">
    <label class="form-check-label" for="isActive">Is Active?</label>
  </div>
  <button class="btn btn-primary"
    (click)="addProduct(id.value, name.value, price.value, isactive.checked); name.value=''; price.value=''; isactive.checked=false; ">Save
    Product</button>
</form>
